* {
  margin: 0;
}
.navbar {
  height: 2rem;
  background: white;
}
.logo {
  font-size: 2rem;
  color: red;
}
.hero {
  color: white;
  background: black;
  min-height: calc(100vh - 2rem);
}
span {
  color: red;
  font-size: 1.3em;
}
.hero-btn {
  background: red;
  color: white;
}
